:root {
	--font-Opensans: 'Open Sans', sans-serif;
	--font-Barlow: 'Barlow', sans-serif;
	--font-SimplonNorm: 'SimplonNorm', sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	// Khai báo các màu trong theme.
	--color-main: #E81F27;
	--color-white: #fff;
	--color-black: #191919;
	--color-light: #eceff4;

	// Màu cho các objects.
	--color-text: var(--color-black);
	--color-line: var(--color-light);
	--color-link: #bf616a;
	--color-btn-bg: #242933;

	--color-bg: #000000eb;
	--color-bg-2: var(--color-light);
}
