.contact {
	display: flex;
	justify-content: space-between;
	padding: 100px 145px;
	padding-left: 0;

	&__title {
		font-size: 21px;
		line-height: 1.3;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 30px;
	}

	&__social {
		margin-bottom: 50px;
	}

	&__social-item {
		display: flex;
		align-items: center;

		.entry-thumbnail {
			height: 18px;
			width: 18px;
			margin-right: 20px;
		}
	}

	&__tochuc-item {
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 1.4;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__tochuc-item-location,
	&__tochuc-item-name {
		margin: 0;
		font-size: 20px;
		line-height: 1.4;
	}

	&__bg {
		display: flex;
		align-items: end;
	}
}

@media (max-width: 1024px) {
	.contact {
		position: relative;
		display: block;
		padding: 50px 0;
		width: 97%;
		margin: auto;

		&__inner {
			width: 90%;
			margin: auto;
		}

		&__bg {
			position: absolute;
			bottom: 50px;
			right: 50px;
		}
	}
}

@media (max-width: 767px) {
	.contact {
		&__bg {
			position: relative;
			width: 90%;
			margin: auto;
			bottom: 0;
		}
	}
}