.contact {
	display: flex;
	justify-content: space-between;
	padding: 50px 145px 100px;
	padding-left: 0;

	&__title {
		font-size: 21px;
		line-height: 1.4;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 30px;
	}

	&__social {
		margin-bottom: 50px;
	}

	&__social-wrap {
		font-size: 20px;
		line-height: 1.4;
	}

	&__social-item {
		display: flex;

		.entry-thumbnail {
			height: 18px;
			width: 18px;
			margin-right: 20px;
		}
	}

	&__tochuc .contact__title {
		font-size: 20px;
	}

	&__tochuc-item {
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 1.4;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__tochuc-item-location,
	&__tochuc-item-name {
		margin: 0;
		font-size: 20px;
		line-height: 1.4;
	}

	&__bg {
		margin-top: auto;
	}
}

@media (max-width: 1440px) {
	.contact {
		padding-right: 0;
	}

	.contact__image {
		width: 50%;
	}
}

@media (max-width: 1024px) {
	.contact {
		position: relative;
		display: block;
		padding: 50px 0;
		width: 97%;
		margin: auto;

		&__image {
			display: none;
		}

		&__inner {
			width: 90%;
			margin: auto;
			margin-top: 0;
		}

		&__title {
			margin-bottom: 10px;
		}

		&__social {
			margin-bottom: 30px;
		}

		&__tochuc-item {
			margin-bottom: 15px;
		}

		&__bg {
			position: absolute;
			bottom: 50px;
			right: 50px;
		}
	}
}

@media (max-width: 767px) {
	.contact {
		padding-left: 35px;
		padding-right: 35px;
		overflow: hidden;

		&__bg {
			right: 0;
			width: 45%;
			height: 50%;
			overflow: hidden;
			bottom: 90px;

			img {
				transform: translateX(-5%);
				width: 200%;
				max-width: inherit;
			}
		}

		&__inner {
			width: 100%;
		}

		&__title {
			margin-bottom: 40px;
		}

		&__social {
			margin-bottom: 51px;
		}

		&__tochuc {
			.contact__title {
				margin-bottom: 20px;
			}

			&-item {
				position: relative;
				padding: 5px 0;

				&::before {
					position: absolute;
					content: "";
					width: 4px;
					height: 20px;
					background: #e81f2650;
					top: -15px;
				}
			}
		}
	}
}