@import "components/home";

@import "components/home/banner";
@import "components/home/number";
@import "components/home/judges";
@import "components/home/top-ten";
@import "components/home/news";

@import "components/moment2";