.prize {
	padding: 55px 0 123px;
	width: 86%;
	margin-left: auto;

	p {
		margin: 0;
	}

	&__title {
		font-size: 21px;
		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;
		padding-left: 70px;
		margin-bottom: 56px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		width: 56%;
		position: relative;
	}

	&__item {
		padding: 40px 70px;
		border-bottom: 3px solid var(--color-main);

		&-title {
			font-size: 31px;
			font-weight: 700;
			line-height: 1;
		}

		&-number {
			position: relative;
			font-size: 60px;
			font-weight: 700;
			line-height: 1.1;
			color: var(--color-main);
			margin: 10px 0;
		}

		&-desc {
			font-size: 21px;
			line-height: 1.5;
			font-weight: 500;
		}
	}

	.item1 .prize__item-title {
		color: var(--color-main);
	}

	.item0 {
		background: var(--color-main);
		color: var(--color-white);
		position: relative;
		border-bottom: none;

		&::before {
			content: '';
			display: block;
			width: 225px;
			height: 305px;
			background-image: url('../images/prize.png');
			position: absolute;
			right: 80px;
			bottom: 0;
		}

		.prize__item-number {
			color: var(--color-white);
		}

		.prize__item-number::before {
			content: '';
			display: block;
			width: 60px;
			height: 60px;
			background-image: url('../images/star.png');
			position: absolute;
			right: 50%;
		}
	}

	.item3 {
		position: absolute;
		bottom: 25%;
		right: 0;
		border-bottom: none;

		@media(max-width: 768px) {
			position: relative;
			border-bottom: 1px solid var(--color-main);
		}
	}

	.item4 {
		border-bottom: none;
	}

	&__image {
		position: relative;

		&-bg {
			position: absolute;
			top: 35%;
			left: 42%;
		}

		.entry-thumbnail {
			filter: grayscale(1);
		}
	}
}

@media(max-width: 1600px) {
	.prize {
		width: 100%;
	}
}

@media (max-width: 1440px) {
	.prize {
		width: 95%;

		&__title {
			padding-left: 30px;
		}

		&__item {
			padding: 30px;

			&-title {
				font-size: 29px;
			}

			&-number {
				font-size: 58px;
			}

			&-desc {
				font-size: 19px;
			}
		}

		.item0::before {
			right: 0;
		}

		.item0 .prize__item-number::before {
			right: 30%;
		}

		.item3 {
			position: relative;
			bottom: 0;
			border-bottom: 3px solid var(--color-main);
		}
	}
}

@media (max-width: 1024px) {
	.prize {
		width: 97%;
		margin: auto;

		&__inner {
			display: block;
		}

		&__content {
			width: 100%;
		}

		&__item {
			padding: 30px;
		}

		.item0 .prize__item-number::before {
			right: 45%;
		}

		.item3 {
			bottom: 25%;
		}

		&__image img {
			width: 100%;
		}
	}
}

@media(max-width: 767px) {
	.prize {
		padding-bottom: 0;
		padding-top: 30px;
		width: 100%;

		&__title {
			margin-bottom: 30px;
			padding: 0;
			text-align: start;
			padding: 0 35px;
		}



		&__item {
			padding: 45px 0px;
			margin: 0 35px;
		}

		.item0 {
			margin: 0;
			padding: 45px 35px;
			padding-top: 105px;
			overflow: hidden;
			border: none;
		}

		.item0::before {
			width: 138px;
			height: 201px;
			background-size: contain;
			background-repeat: no-repeat;
			right: -7%;
			bottom: -5%;

		}

		.item0 .prize__item-number::before {
			top: -175%;
			left: 0;
			right: auto;
		}

		&__image {
			display: none;
		}

		&__image-bg {
			left: 25%;
		}
	}
}