.rule {
	padding: 55px 0 120px;

	&__title {
		font-size: 21px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 85px;
		padding-left: 55px;
	}

	&__inner {
		width: 82%;
		display: flex;
	}

	&__image {
		z-index: 2;
		display: flex;
		align-items: center;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		transform: translateX(-32px);

		&-number {
			width: 11%;
			background: var(--color-main);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 80px;
			font-weight: 700;
			font-family: var(--font-Opensans);
			color: var(--color-main);
			text-shadow: -1px -1px 0 var(--color-white), -1px 1px 0 var(--color-white), 1px -1px 0 var(--color-white), 1px 1px 0 var(--color-white);
		}

		&-content {
			width: 68%;
			padding-bottom: 21px;

			p {
				margin: 0;
			}
		}

		&-title {
			font-size: 21px;
			line-height: 1.2;
			font-weight: 700;
			color: var(--color-main);
		}

		&-time {
			font-size: 21px;
			line-height: 1.4;
			font-weight: 700;
		}

		&-desc {
			font-size: 15px;
			line-height: 1.6;
			font-weight: 400;
		}
	}

	&__item-bg {
		width: 25px;
		display: flex;

		svg {
			.cls-1 {
				fill: #bababa;
			}
		}
	}
}

@media (max-width: 1024px) {
	.rule {
		&__title {
			padding: 0;
		}

		&__inner {
			flex-wrap: wrap;
			width: 98%;
			margin: auto;
		}

		&__image {
			display: block;
			width: 100%;

			img {
				width: 100%;
			}
		}

		&__item {
			transform: translateX(0);

			&-number {
				width: 20%;
			}
		}
	}
}

@media(max-width: 767px) {
	.rule {
		padding-bottom: 50px;

		&__title {
			margin-bottom: 50px;
		}

		&__item-number {
			font-size: 42px;
		}

		&__item-title,
		&__item-time {
			font-size: 18px;
		}
	}
}