.rule {
	padding: 55px 0 120px;

	&__title {
		font-size: 21px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 85px;
		padding-left: 55px;
	}

	&__inner {
		width: 82%;
		display: flex;
	}

	&__image {
		z-index: 2;
		display: flex;
		align-items: center;
		filter: grayscale(1);
		width: 47%;

		.entry-thumbnail,
		img {
			height: 100%;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		transform: translateX(-40px);

		&-number {
			width: 11%;
			background: var(--color-main);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 80px;
			font-weight: 700;
			font-family: var(--font-Opensans);
			color: var(--color-main);
			text-shadow: -1px -1px 0 var(--color-white), -1px 1px 0 var(--color-white), 1px -1px 0 var(--color-white), 1px 1px 0 var(--color-white);
		}

		&-content {
			width: 68%;
			padding-bottom: 45px;

			p {
				margin: 0;
			}
		}

		&-title {
			font-size: 21px;
			line-height: 1.2;
			font-weight: 700;
			color: var(--color-main);
		}

		&-time {
			font-size: 21px;
			line-height: 1.4;
			font-weight: 700;
		}

		&-desc {
			font-size: 15px;
			line-height: 1.6;
			font-weight: 400;
		}
	}

	&__item-bg {
		width: 25px;

		.bg1,
		.bg2,
		img {
			height: 100%;
		}

		.bg2 {
			display: none;
		}
	}

	&__item:last-child {
		.bg1 {
			display: none;
		}

		.bg2 {
			display: block;
		}
	}
}

@media (max-width: 1440px) {
	.rule {
		&__inner {
			width: 100%;
		}

		&__item {
			transform: translateX(-25px);
		}
	}
}

@media (max-width: 1024px) {
	.rule {
		&__title {
			padding: 0;
		}

		&__inner {
			flex-wrap: wrap;
			width: 98%;
			margin: auto;
		}

		&__image {
			display: block;
			width: 100%;

			img {
				width: 100%;
			}
		}

		&__item {
			transform: translateX(0);

			&-number {
				width: 20%;
			}
		}
	}
}

@media(max-width: 767px) {
	.rule {
		padding-bottom: 50px;

		&__inner {
			width: 100%;
		}

		&__image {
			display: none;
		}

		&__item-bg {
			display: flex;
			align-items: flex-start;
			margin-top: 15px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&__item-desc {
			padding-right: 35px;
		}

		&__title {
			margin-bottom: 50px;
			text-align: start;
			padding: 0 35px;
		}

		&__item-number {
			font-size: 42px;
			align-items: flex-start;
			justify-content: flex-start;
			width: 15%;
			;

		}

		&__item-title,
		&__item-time {
			// font-size: 18px;
		}

		&__item-content {
			padding-top: 15px;
			padding-bottom: 20px;
		}
	}
}