.about {
	width: 87%;
	margin-left: auto;
	display: flex;
	padding: 55px 0 95px 0;
	font-size: 21px;
	line-height: 1.3;
	color: var(--color-white);
	overflow: hidden;

	&__left {
		display: flex;
		width: 93%;
	}

	&__left-bg1,
	&__left-bg2,
	&__left-bg3 {
		width: 35%;
	}

	&__left-bg1 {
		background: #e81f2799;
	}

	&__left-bg2 {
		background: #e81f27bf;
	}

	&__left-bg3 {
		background: #e81f27e6;
	}

	&__left-inner {
		background: var(--color-main);
		padding: 65px 80px;
		text-align: justify;
	}

	&__left-image {
		margin-bottom: 35px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__right-image {
		width: 67%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-left: 85px;
		margin-top: 85px;
	}

	.about__right-logo {
		padding-bottom: 20px;
	}

	&__right-content {
		width: 65%;
		padding: 75px 75px 65px 85px;
		background: #000;
		text-align: justify;
	}
}

@media (max-width:1024px) {
	.about {
		width: 100%;
		display: block;
		padding: 0;

		&__left {
			width: 100%;
		}
	}
}

@media (max-width:767px) {
	.about {
		font-size: 18px;
		&__left{
			div:empty{
				display: none;
			}
		}
		&__left-inner {
			padding: 50px 35px;

		}

		&__right {

			padding-bottom: 80px;
			&-bg {
					display: none;
				}
				&-logo{
					padding-bottom: 0 !important;
				}
		}

		&__right-image {
			width: 100%;
			margin: 50px 35px;
			align-items: flex-start;
		}

		&__right-content {
			width: 100%;
			padding: 50px 35px;
		}
	}
}