.page-template-binh-chon .footer {
	display: none;
}

.vote-page {
	position: relative;
	background-color: var(--color-black);
	padding: 56px 0 130px;
	min-height: 100vh;


	&__wrap {
		max-width: 1080px;
		color: var(--color-white);
		margin: 0 auto;

		&-title {
			font-family: var(--font-Barlow);
			font-size: 38px;
			line-height: 1.3;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 13px;
		}

		&-desc p {
			color: var(--color-main);
			text-align: center;
			font-family: var(--font-Barlow);
			font-weight: 300;
			font-size: 21px;
			line-height: 1.2;
			margin: 0;
		}

		a.signin {
			font-family: var(--font-Barlow);
			color: var(--color-white);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 22px;
			line-height: 1.2;
			background-color: var(--color-main);
			padding: 10px 20px;
			margin: auto;
			border-radius: 50px;
			display: table;
		}
	}

	&__inner {
		position: relative;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		margin-top: 64px;
		margin-bottom: 50px;
		transform: translateX(35px);
	}

	&__item {
		position: relative;

		h2 {
			color: var(--color-main);
			font-family: var(--font-Barlow);
			font-weight: 700;
			font-size: 31px;
			margin: 42px 0 7px;
		}

		p {
			color: var(--color-white);
			font-size: 21px;
			line-height: 1.33;
			font-weight: 300;
			text-align: left;
			padding-right: 60px;
		}

		&::before {
			content: '';
			display: block;
			width: 72px;
			height: 6px;
			background: url('images/after_img.png') no-repeat;
			position: absolute;
			right: 8px;
			top: 65px;
		}

		&:last-child {
			&::before {
				display: none;
			}
		}
	}
}

@media (max-width: 1023px) {
	.vote-page {

		&__inner {
			grid-template-columns: repeat(1, 1fr);
			transform: translateX(0);
		}

		&__item {
			text-align: center;
			margin-bottom: 50px;

			&::before {
				display: none;
			}

			h2 {
				margin: 10px 0;
			}

			p {
				padding: 0;
			}
		}
	}
}

@media only screen and (max-width:767px) {
	.vote-page {
		&__wrap {
			h1 {
				font-size: 28px;
			}

			p {
				font-size: 16px;
			}
		}
	}
}