.competition {
	position: relative;
	background-color: var(--color-black);
	padding: 143px 0;
	color: var(--color-white);
	border-bottom: 5px solid var(--color-white);

	&__inner {
		position: relative;
		display: grid;
		//gap: 58px;
		grid-template-columns: repeat(4, 1fr);
	}

	.voted-filter {
		margin-bottom: 140px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: end;
		gap: 30px;
	}

	.meta-voted {
		position: relative;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6);
		padding: 0 25px;
		padding-bottom: 62px;
		margin-bottom: 88px;

		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12) {
			border-bottom: 0;
		}

		&:hover {
			.entry-voted-number a {
				color: var(--color-white);
			}
		}
	}

	.voted-inner {
		position: relative;

		.entry-thumb {
			position: relative;

			&::after {
				content: '';
				display: block;
				padding-bottom: 132%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);

				&:hover {
					filter: grayscale(0%);
					-webkit-filter: grayscale(0%);
					-moz-filter: grayscale(0%);
					-ms-filter: grayscale(0%);
					-o-filter: grayscale(0%);
				}
			}
		}
	}

	.voted-content {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		.number-voted {
			color: var(--color-main);
		}
	}

	.entry-title {
		padding: 15px 0;

		a {
			color: var(--color-white);
			font-family: var(--font-Barlow);
			font-size: 22px;
			font-weight: 400;
			text-transform: uppercase;

			&:hover {
				color: var(--color-main);
			}
		}

	}
}

.entry-voted-number {
	position: absolute;
	top: -25px;
	right: -60px;
	z-index: 1;
	text-align: right;
	width: 100px;
	color: #fff;
	font-size: 13px;
	font-weight: 700;

	a {
		color: var(--color-white);
		font-family: var(--font-Barlow);
		font-weight: 600;
	}

	a:hover {
		color: var(--color-black);
	}
}

.modal-dialog {
	color: #000 !important;
}

.title-heading-search {
	margin-bottom: 30px;
}

.entry-voted-number span {
	display: block;
	background: #E81F27;
	color: #ec008c;
	font-size: 21px;
	position: absolute;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	top: 0;
}

#searchform-voted {
	position: relative;

	input#s {
		width: 100%;
		max-width: 500px;
		min-width: 305px;
		padding: 10px 20px 11px;
		//color: var(--color-black);
		background: transparent;
		border: 1px solid #fff;
		border-radius: 25px;
	}

	.input-button input {
		background: url('images/voted-search.png') center center no-repeat;
		text-indent: -9999px;
		position: absolute;
		top: 0px;
		right: 10px;
		z-index: 9;
		width: 20px;
		border: none;
		padding: 10px;
		background-size: contain;
	}
}

.voted-filter__form {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;

	.voted-most {
		font-size: 28px;
		color: var(--color-main);
		font-weight: 600;
		text-transform: uppercase;

		&:hover {
			color: var(--color-white);
		}
	}

	.voted-new {
		color: var(--color-white);
		font-size: 28px;
		font-weight: 600;
		text-transform: uppercase;

		&:hover {
			color: var(--color-main);
		}
	}
}

@media only screen and(max-width: 991px) {
	.competition {
		&__inner {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media only screen and(max-width: 600px) {
	.competition {
		padding-top: 50px;

		&__inner {
			grid-template-columns: repeat(1, 1fr);
		}

		.voted-filter {
			margin-bottom: 50px;
		}
	}

	.voted-filter__form {

		.voted-most,
		.voted-new {
			font-size: 22px;
		}
	}
}