.comments-area {
	width: 100%;
	margin-left: auto;
	margin-top: 50px;

	h3.comment-reply-title {
		color: var(--color-white);
	}
}

textarea#comment {
	background-color: #fff;
	border: 1px solid #ccc;
	height: 130px;
}

.comment-form {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 10px 30px;

	input {
		font-size: 20px;
		padding: 10px 15px;
		font-family: var(--font-Barlow);
		font-weight: 400;
		width: 100%;
	}
}

.comment-form-comment {
	width: 100%;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-phone {
	width: calc(50% - 15px);
}

input.submit {
	background-color: var(--color-main);
	color: #fff;
	padding: 8px 15px;
}

.comment-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 15px;
}

.comment-title {
	position: relative;

	.icon {
		display: none;
	}

	a {
		display: flex;
		flex-wrap: wrap;
		color: var(--color-black);
		font-weight: 500;
		font-size: 18px;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		svg.icon {
			display: block;
		}
	}

	a.comment-reply-link {
		&:hover {
			color: var(--color-main);
		}
	}
}

.comment-meta {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 5px;
}

.comment-metadata {
	a {
		color: #ccc;
		font-weight: 400;
	}
}

.comment-footer-meta {
	font-size: 15px;
	margin-bottom: 10px;
}

.comments-title {
	font-weight: 700;
}