.footer {
	font-size: 15px;
	font-weight: 300;
	color: var(--color-white);
	background: #000;

	&__inner {
		width: 64%;
		margin-left: 145px;
		padding: 72px 0 62px 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	h2,
	h3 {
		margin: 0;
		font-size: 15px;
		font-weight: 600;
	}
	p{
		margin: 0;
		strong{
			font-weight: 600;
		}
	}

	a {
		color: var(--color-white);
	}

	a:hover {
		color: var(--color-main);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__info h2,
	&__info h3 {
		text-transform: uppercase;
	}

	&__social {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		ul li {
			display: flex;
			align-items: center;
		}

		img {
			margin-right: 10px;
		}

		ul li:first-child::before {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			background-image: url('images/Assetfb.svg');
			background-repeat: no-repeat;
			margin-right: 12px;
		}

		ul li:last-child::before {
			content: '';
			display: block;
			width: 15px;
			height: 13px;
			background-image: url('images/mail.png');
			background-repeat: no-repeat;
			margin-right: 12px;
		}
	}
}

@media(max-width:1024px) {
	.footer__inner {
		width: 97%;
		margin: auto;
	}
}

@media(max-width: 767px) {
	.footer {
		&__logo {
			width: 120px;
		}

		&__inner {
			padding: 30px 15px;
		}

		&__title {
			width: 100%;
			margin-top: 30px;
		}

		&__info {
			margin-bottom: 30px;
		}
	}
}