@media (max-width: 1280px) {
	.header__menu a {
		padding: 0 11px;
	}
}

@media(max-width:1023px) {
	.header {
		width: 100%;
		padding: 15px;

		&__inner {
			width: 100%;
			padding-top: 10px;

			a {
				color: var(--color-white);
				font-size: 22px;
			}
		}

		&__btn {
			width: 100%;
		}

		&__menu {
			margin: 0;

			.menu {
				display: none;
			}

			&.is-open {
				.menu {
					display: block;
					position: absolute;
					background-color: var(--color-black);
					z-index: 99;
					width: 350px;
					right: 0;
					padding: 15px;
					margin-top: 40px;
				}

				li {
					padding: 10px 0;
				}

				a {
					padding: 10px 0;

				}
			}

			.menu-toggle {
				display: block;
			}
		}

		.space-between {
			width: 100%;
		}

		&.white-header {
			position: relative;
			width: 100%;
			left: 0;
			top: 0;
			background-color: transparent;
			z-index: 100;
			justify-content: space-between;
			padding: 15px 30px;

			.navbar-logo {
				display: none;

				&.white-logo {
					display: block;
				}
			}

			span {
				color: var(--color-black);
			}
		}

		.signin,
		&.white-header .signin {
			border: 1px solid var(--color-main);
		}

		&-login {
			justify-content: space-between;
			padding-bottom: 10px;
			border-bottom: 1px solid var(--color-bg);
		}

		.header-email {
			display: none;
		}
	}
}

@media (max-width: 767px) {

	.header {
		padding: 25px 35px;
		&__logo {
			width: 120px;
		}

		&__inner a {
			font-size: 16px;
		}

		&__menu {

			&.is-open {
				.menu {
					width: 200px;
				}
			}
		}
	}
}