.header {
	width: 85%;
	margin: 0 auto;
	font-family: var(--font-Opensans);
	color: black;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	padding: 40px 0;

	&.white-header {
		position: absolute;
		top: 30px;
		left: 145px;
		z-index: 2;
		width: 85%;

		span {
			color: #fff;
		}

		.navbar-logo {
			display: none;

			&.white-logo {
				display: block;
			}
		}

		.header__inner {
			ul {
				margin-top: 22px;
			}

			a {
				color: var(--color-white);
				padding: 0 27.5px;
			}
		}

		.header-email {

			a {
				color: var(--color-white);
			}

			svg {
				fill: var(--color-white);
			}
		}

		.signin,
		.signup:hover {
			border: 1px solid var(--color-white);
		}

		.signup {
			border: 1px solid var(--color-main);
		}

	}

	.header-email {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 30px;

		a {
			text-decoration: none;
			margin-left: 40px;
			color: var(--color-black);
		}

		svg {
			width: 15px;
			fill: var(--color-main);
			margin-right: 10px;
		}
	}

	.white-logo {
		display: none;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			color: var(--color-black);
			font-size: 15px;
			line-height: 1.2;
		}

		a:hover {
			color: var(--color-main);
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-top: 50px;
		}
	}

	&__menu {
		margin: auto;
		margin-left: 100px;
		display: flex;
		flex-wrap: wrap;

		.menu {
			display: flex;
			justify-content: space-between;
		}

		a {
			padding: 0 27.5px;
		}

		.menu-toggle {
			background: transparent;
			border: none;
			color: var(--color-black);
			line-height: 1;
			cursor: pointer;
			padding: 0 5px;
			display: none;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__btn {
		.header-login {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: end;
		}

		.signin,
		.signup {
			padding: 7px 11px;
			border-radius: 20px;
		}

		.signin {
			background: var(--color-white);
			border: 1px solid var(--color-main);
			color: #000;
			margin-right: 20px;
			line-height: 1.2;
		}

		.signin:hover {
			background: var(--color-main);
			color: var(--color-white);
			border: 1px solid var(--color-main);
		}

		.signup {
			background: var(--color-main);
			color: var(--color-white);
			border: 1px solid var(--color-main);
		}

		.signup:hover {
			background: var(--color-white);
			color: #000;
			border: 1px solid var(--color-main);
		}
	}

}

.menu-account {
	color: var(--color-base);
	position: relative;
	margin-left: 10px;
}

.btn-drop-down {
	width: 15px;
	height: 15px;

	img {
		width: 100%;
		object-fit: contain;
	}
}

.menu-account__wrapper {
	opacity: 0;
	position: absolute;
	background: #fff;
	width: 250px;
	top: 100%;
	right: 0;
	transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: 0px 3px 20px rgb(0 0 0 / 25%);
	border-radius: 15px;
	z-index: 99;
	visibility: hidden;

	&.menu-account-open {
		opacity: 1;
		visibility: inherit;
	}

	ul {
		margin: 0;
		padding: 10px 10px;

		li {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px;
		}

		svg {
			width: 20px;
		}
	}
}

.popup-logout {
	position: relative;
	background: #ffffff;
	padding: 40px;
	width: auto;
	margin: 20px auto;
	max-width: 500px;
	z-index: 9999;
	text-align: center;
}

.mfp-hide {
	display: none !important;
}

.popup-logout {
	.btn-primary {
		background-color: var(--color-main);
	}
}