.header {
	font-family: var(--font-Opensans);
	color: black;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	padding: 40px 0;

	&.white-header {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;

		.navbar-logo {
			display: none;

			&.white-logo {
				display: block;
			}
		}

	}

	.header-email {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 30px;

		a {
			text-decoration: none;
			margin-left: 40px;
			color: #fff;
		}

		svg {
			width: 15px;
			fill: #fff;
			margin-right: 10px;
		}
	}

	.white-logo {
		display: none;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			color: var(--color-white);
			font-size: 15px;
			line-height: 1.2;
			padding: 0 27.5px;
		}

		a:hover {
			color: var(--color-main);
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-top: 22px;
		}
	}

	&__menu {
		margin: auto;
		margin-left: 100px;
		display: flex;
		flex-wrap: wrap;

		.menu {
			display: flex;
			justify-content: space-between;
		}

		.menu-toggle {
			background: transparent;
			border: none;
			color: var(--color-black);
			line-height: 1;
			cursor: pointer;
			padding: 0 5px;
			display: none;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	// &__contact {
	// 	&-info ul {
	// 		display: flex;
	// 	}

	// 	&-info ul li {
	// 		display: flex;
	// 		align-items: center;
	// 	}

	// 	&-info ul li:first-child {
	// 		margin-right: 40px;
	// 	}

	// 	&-info ul li:first-child::before {
	// 		content: '';
	// 		display: block;
	// 		width: 15px;
	// 		height: 13px;
	// 		background-image: url('images/Asset2.png');
	// 		background-repeat: no-repeat;
	// 		margin-right: 12px;
	// 	}

	// 	&-info ul li:last-child::before {
	// 		content: '';
	// 		display: block;
	// 		width: 15px;
	// 		height: 15px;
	// 		background-image: url('images/Asset4.png');
	// 		background-repeat: no-repeat;
	// 		margin-right: 12px;
	// 	}
	// }

	&__btn {
		.header-login {
			position: relative;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			justify-content: end;
		}

		.signin,
		.signup {
			padding: 7px 11px;
			border-radius: 20px;
		}

		.signin {
			background: var(--color-white);
			color: #000;
			margin-right: 20px;
			line-height: 1.2;
		}

		.signin:hover {
			background: var(--color-main);
			color: var(--color-white);
		}

		.signup {
			background: var(--color-main);
			color: var(--color-white);
		}

		.signup:hover {
			background: var(--color-white);
			color: #000;
		}
	}

}