h2.title {
	font-family: var(--font-Barlow);
	color: var(--color-white);
	font-weight: 300;
	font-size: 48px;
	position: relative;
	z-index: 2;
	text-shadow: 2px 2px 8px #fff;
	margin: 0;

	&::after {
		content: "";
		display: block;
		width: 70px;
		height: 70px;
		background-color: var(--color-main);
		border-radius: 100%;
		position: absolute;
		z-index: -1;
		top: -25px;
		left: -32px;
	}
}