h2.title {
	font-family: var(--font-Barlow);
	color: var(--color-white);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 35px;
	line-height: 1.6;
	text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
	letter-spacing: 3px;

	&::after {
		content: '';
		display: block;
		width: 375px;
		height: 1px;
		background-color: var(--color-white);
		margin-top: 97px;
	}
}

.home-banner {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 75%;
		margin: 0 auto;

		&::before {
			content: '';
			display: block;
			width: 243px;
			height: 211px;
			background-image: url('images/bg_banner.png');
			background-size: cover;
		}
	}

	&__content {
		h1 {
			color: var(--color-white);
			text-shadow: 1px 1px 8px #fff;
			text-transform: uppercase;
			font-size: 80px;
			line-height: 1.1;
			margin: 0;
			font-weight: 500;
		}

		.entry-content {
			font-family: var(--font-Opensans);
			background-color: var(--color-main);
			color: var(--color-white);
			font-size: 24px;
			font-weight: 700;
			padding: 15px 35px 15px 25px;
			line-height: 1.2;
			margin-top: 36px;

			p {
				margin: 0;
			}
		}
	}
}

.number-home {
	position: relative;
	display: flex;

	&__item {
		width: 666px;
		position: relative;
		background-color: var(--color-main);
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 45px 0 65px;

		h2 {
			margin: 0;
			font-size: 104.08px;
			color: var(--color-white);
			line-height: 1.2;

			.unit {
				font-size: 22px;
			}
		}

		p {
			font-size: 22px;
			color: var(--color-white);
			margin: 0;
			font-weight: 700;
		}

		&:nth-child(2) {
			background-color: #CACACA;
			width: 585px;

			h2 {
				color: var(--color-black);
			}

			p {
				font-size: 22px;
				color: var(--color-black);
				margin: 0;
				font-weight: 700;
			}
		}

		&:nth-child(3) {
			background-color: #000;

			h2 {
				color: var(--color-main);

			}

			.number-home__title {
				display: flex;
				flex-wrap: wrap;
			}

			.unit {
				color: #787878;
				font-weight: 700;
				font-size: 22px;
				display: flex;
				align-items: flex-end;
				margin-bottom: 20px;
				margin-right: 15px;
			}

			p {
				font-size: 22px;
				color: #787878;
				margin: 0;
				font-weight: 700;
			}
		}


	}
}

.winner-home {
	padding: 125px 0 135px;
}

.judges-home {
	padding: 190px 0 100px;
}

.judges-home,
.winner-home {
	position: relative;
	background: var(--color-bg);

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 133px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__inner {
		width: 62%;
		position: relative;
		display: grid;
		gap: 31px 80px;
		grid-template-columns: repeat(2, 1fr);
	}

	&__image {
		img {
			width: 100%;
			filter: grayscale(1);
		}
	}

	&__title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		.number {
			font-family: var(--font-SimplonNorm);
			font-weight: 500;
			color: var(--color-main);
			text-transform: uppercase;
			font-size: 66px;
		}

		.title {
			font-family: var(--font-Barlow);
			text-transform: uppercase;
			text-align: end;
			color: var(--color-main);
			font-size: 28px;
			font-weight: 600;
		}
	}

	&__content {
		margin-top: 47px;

		h3 {
			font-family: var(--font-Barlow);
			font-size: 29px;
			color: var(--color-white);
			margin: 0;
			font-weight: 500;
			text-transform: uppercase;
		}

		h2 {
			font-family: var(--font-Barlow);
			font-size: 45px;
			color: var(--color-white);
			font-weight: 500;
			margin: 0;
			text-transform: uppercase;
		}
	}
}

.judges-home {
	&::before {
		content: '';
		display: block;
		width: 264px;
		height: 527px;
		background-image: url('images/bg_judges.png');
		background-size: cover;
		position: absolute;
		top: 15%;
		left: -37px;
	}
}

.top-ten {
	position: relative;
	background-color: var(--color-bg);
	padding: 50px 0;

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__inner {
		width: 60%;
		height: 828px;
		direction: rtl;
		padding-left: 50px;
		overflow-y: scroll;

		//overflow: auto;
		&::-webkit-scrollbar {
			background-color: transparent;
			border: 1px solid #fefefe;
			padding: 15px;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #808080;
			padding: 0 10px;
			margin: 0 10px;
			border-radius: 25px;
			width: 80%;
		}

		details {
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid var(--color-white);
			border-radius: 0;
			padding: 30px 0;
			margin: 0;
			line-height: 1.6;
		}

		details[open] summary::before {
			content: '-';
		}

		summary {
			font-family: var(--font-Barlow);
			font-weight: 500;
			font-size: 36px;
			text-transform: uppercase;
			color: var(--color-white);
			text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
			display: flex;
			justify-content: space-between;

			&::before {
				content: '+';
				display: block;
			}
		}

		.panel {
			position: relative;

			iframe {
				width: 100%;

			}
		}
	}
}

.new-home {
	position: relative;
	background-color: var(--color-bg);
	padding: 50px 0;

	h2.title::after {
		margin-top: 75px;
	}

	&__wrap {
		margin-top: 100px;
		--width: 100vw;
		margin-right: calc(51% - var(--width)/2);
		margin-left: calc(50% - var(--width)/2);
	}

	&__item {
		position: relative;

		&:hover {
			.new-home__title {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	&__image {
		position: relative;

		&::after {
			content: '';
			display: block;
			padding-bottom: 120%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__inner {

		.slick-next,
		.slick-prev {
			width: 48px;
			height: 82px;
			background-image: url('images/prev.png');
			background-color: transparent;
			background-size: cover;
			z-index: 2;
		}

		.slick-prev {
			background-image: url('images/prev.png');
			left: 170px;
		}

		.slick-next {
			background-image: url('images/next.png');
			right: 170px;

			@media(max-width: 1023px) {
				right: 20px;
			}
		}
	}

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 55px 65px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		opacity: 0;
		transition: all 0.35s ease;
		transform: translateY(100%);

		&::before {
			content: '';
			display: block;
			background-color: rgba(0, 0, 0, 0.9);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		p.date {
			font-family: var(--font-SimplonNorm);
			font-weight: 700;
			color: var(--color-main);
			margin: 0;
			font-size: 40px;
			position: relative;
		}

		h3 {
			font-family: var(--font-Opensans);
			font-size: 22px;
			color: var(--color-white);
			font-weight: 700;
			display: flex;
			flex-wrap: wrap;
			align-items: end;
			justify-content: space-between;
			margin: 78px 0 0;
			position: relative;

			&::after {
				content: '';
				display: block;
				width: 55px;
				height: 68px;
				background-image: url('images/after_title.png');
				background-repeat: no-repeat;
				background-size: cover;
			}

			a {
				width: calc(100% - 70px);
				border-bottom: 1px solid var(--color-white);
				padding-bottom: 37px;
			}
		}

		a {
			color: var(--color-white);

			&:hover {
				color: var(--color-main);
			}
		}
	}

	.img {
		margin-top: 82px;
	}
}

.partner-home {
	position: relative;
	background-color: var(--color-bg);
	padding: 50px 0;

	h2.title::after {
		display: none;
	}

	&__image {
		width: calc(100% - 520px);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--color-white);
		padding-bottom: 150px;

		img {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);

			&:hover {
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
			}
		}
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 126px;

		&:nth-child(2) {
			padding-top: 80px;

			.partner-home__image {
				border-bottom: 0;
			}
		}
	}

	&__login {
		position: relative;
		background-image: url('images/bg_login.png');
		background-size: cover;
		min-height: 568px;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		width: 68%;
		margin: 0 auto;
		transform: translateX(-75px);
	}

	&__content {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 50px;

		h3 {
			font-size: var(--font-Opensans);
			font-size: 22px;
			color: var(--color-white);
			text-transform: uppercase;
			margin: 0 0 7px;
		}

		h2 {
			font-family: var(--font-Opensans);
			font-size: 54px;
			color: var(--color-white);
			margin: 0 0 45px;
			text-transform: uppercase;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			gap: 28px;

			li {
				list-style: none;
				background-color: var(--color-white);
				padding: 5px 10px;
				border-radius: 25px;
				min-width: 132px;
				color: var(--color-main);
				text-align: center;
				font-size: 19px;
				font-weight: 700;
				border: 1px solid var(--color-white);

				&:hover {
					background-color: transparent;
					border: 1px solid var(--color-white);

					a {
						color: var(--color-white);
					}
				}

				&:first-child {
					background-color: transparent;

					a {
						color: var(--color-white);
					}

					&:hover {
						background-color: var(--color-white);

						a {
							color: var(--color-main);
						}
					}

				}
			}

			a {
				color: var(--color-main);
			}
		}
	}
}

// .moment-home {
// 	position: relative;
// 	background-color: var(--color-bg);
// 	padding: 50px 0;

// 	h2.title {
// 		margin: 0;
// 		margin-bottom: 115px;

// 		&::after {
// 			margin-top: 78px;
// 		}
// 	}

// 	&__wrap {
// 		position: relative;
// 		--width: 100vw;
// 		margin-right: calc(51% - var(--width)/2);
// 		margin-left: calc(50% - var(--width)/2);
// 		overflow-x: scroll;
// 		display: flex;
// 		padding-bottom: 30px;

// 		&::-webkit-scrollbar {
// 			background-color: transparent;
// 			border: 0px solid #fefefe;
// 			padding: 15px;
// 			border-radius: 5px;
// 			margin: 50px;
// 		}

// 		&::-webkit-scrollbar-thumb {
// 			background-color: #808080;
// 			padding: 0 10px;
// 			margin: 0 10px;
// 			border-radius: 25px;
// 			width: 80%;
// 		}

// 	}

// 	&__item {
// 		position: relative;

// 		&:nth-child(1) {
// 			grid-area: 1/1/2/3;
// 		}

// 		&:nth-child(2) {
// 			grid-area: 1/3/2/4;
// 		}

// 		&:nth-child(3) {
// 			grid-area: 1/4/2/5;
// 		}

// 		&:nth-child(4) {
// 			grid-area: 1/5/3/6;
// 		}

// 		&:nth-child(5) {
// 			grid-area: 2/1/3/2;
// 		}

// 		&:nth-child(6) {
// 			grid-area: 2/2/3/3;
// 		}

// 		&:nth-child(7) {
// 			grid-area: 2/3/3/5;
// 		}

// 		&::after {
// 			content: '';
// 			display: block;
// 			padding-bottom: 50%;
// 		}

// 		img {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 100%;
// 			height: 100%;
// 			object-fit: cover;
// 		}
// 	}
// }