h2.title {
	font-family: var(--font-Barlow);
	color: var(--color-white);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 35px;
	line-height: 1.6;
	text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
	letter-spacing: 3px;

	&::after {
		content: '';
		display: block;
		width: 375px;
		height: 1px;
		background-color: var(--color-white);
		margin-top: 97px;
	}
}
