@media(max-width:1023px) {
	.header {
		width: 100%;
		padding: 15px;

		&__inner {
			width: 100%;
			padding-top: 10px;

			a {
				color: var(--color-white);
				font-size: 22px;
			}
		}

		&__btn {
			width: 100%;
		}

		&__menu {
			margin: 0;

			.menu {
				display: none;
			}

			&.is-open {
				.menu {
					display: block;
					position: absolute;
					background-color: var(--color-black);
					z-index: 99;
					width: 350px;
					right: 0;
					padding: 15px;
					margin-top: 40px;
				}

				li {
					padding: 10px 0;
				}

				a {
					padding: 10px 0;

				}
			}

			.menu-toggle {
				display: block;
			}
		}

		&.white-header {
			position: relative;
			width: 100%;
			left: 0;
			top: 0;
			background-color: var(--color-white);
			z-index: auto;

			.navbar-logo {
				display: block;

				&.white-logo {
					display: none;
				}
			}

			span {
				color: var(--color-black);
			}
		}

		.signin,
		&.white-header .signin {
			border: 1px solid var(--color-main);
		}

		&-login {
			justify-content: space-between;
			padding-bottom: 10px;
			border-bottom: 1px solid var(--color-bg);
		}

		.header-email {
			display: none;
		}
	}

	.new-home {
		&__inner {
			.slick-prev {
				left: 20px;
				width: 30px;
				height: 50px;
			}

			.slick-next {
				right: 20px;
				width: 30px;
				height: 50px;
			}
		}
	}

	.judges-home {
		&__inner {
			width: 100%;
		}
	}

	.winner-home {
		&__inner {
			width: 100%;
		}
	}

	.top-ten {
		&__inner {
			width: 100%;
		}
	}

	.moment-slider {
		&__col1 {
			width: 100%;
		}

		&__col2 {
			width: 100%;
			margin-top: 10px;
		}

		&__col3 {
			width: 100%;
			margin-top: 10px;
			height: 850px;

			.item_slider {
				height: 100%;
			}

			img {
				width: 100%;
			}
		}
	}

	.partner-home {
		&__wrap {
			gap: 10px;
		}

		&__image {
			width: 100%;
		}

		&__login {
			width: 100%;
			transform: translateX(0px);
			background: none;
			min-height: auto;
		}

		&__content {
			width: 100%;
			margin-bottom: 0;
			padding: 50px 15px;
			background-color: var(--color-main);
		}
	}
}

@media only screen and(max-width: 767px) {
	.partner-home {
		&__wrap {
			gap: 0;
		}

		&__image {
			width: 100%;
			padding-bottom: 50px;
			justify-content: center;
			gap: 20px;
		}

		&__content ul {
			justify-content: space-between;
		}
	}

	.moment-home {
		h2.title::after {
			width: 100%;
		}
	}

	.new-home {
		h2.title {
			&::after {
				width: 100%;
				margin-top: 15px;
			}
		}

		.img {
			margin-top: 50px;
		}

		&__inner {

			.slick-prev,
			.slick-next {
				width: 20px;
				height: 35px;
			}

			.slick-dots li {
				margin: 0 !important;
			}

			.slick-dots li button:before {
				font-size: 30px !important;
			}

			.slick-dots li.slick-active button:before {
				opacity: .75;
				color: var(--color-main);
			}
		}
	}

	.top-ten {
		&__wrap {
			h2.title {
				&::after {
					width: 100%;
					margin-top: 15px;
				}
			}
		}

		&__inner {
			width: 100%;
			padding-left: 20px;
			height: 350px;

			details {
				padding: 0;
			}

			summary {
				font-size: 16px;
			}
		}
	}

	.winner-home {
		padding-top: 20px;

		&__wrap {
			h2.title {
				font-size: 28px;

				&::after {
					margin-top: 15px;
					width: 100%;
				}
			}
		}

		&__inner {
			width: 100%;
			gap: 15px;
			grid-template-columns: repeat(1, 1fr);
		}

		&__title {
			width: 100%;

			.title {
				font-size: 20px;
			}
		}

		&__content {
			h3 {
				font-size: 18px;
			}

			h2 {
				font-size: 26px;
			}
		}
	}

	.judges-home {
		padding-top: 50px;
		padding-bottom: 0;

		&::before {
			display: none;
		}

		&__title {
			width: 100%;
		}

		&__content {
			h3 {
				font-size: 20px;
			}

			h2 {
				font-size: 26px;
			}
		}

		&__wrap {
			margin-bottom: 0px;

			h2.title {
				&::after {
					width: 100%;
					margin-top: 15px;
				}
			}
		}

		&__inner {
			width: 100%;
			gap: 20px;
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.moment-home {
		&__wrap {
			li {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		&__item {
			grid-area: inherit !important;

			&::after {
				padding-bottom: 100%;
			}
		}
	}

	.number-home {
		flex-wrap: wrap;

		&__item {
			width: 100%;
		}
	}

	.header {

		&__logo {
			width: 120px;
		}

		&__inner a {
			font-size: 16px;
		}

		&__menu {

			&.is-open {
				.menu {
					width: 200px;
				}
			}
		}
	}

	.home-banner {
		&__content {
			h1 {
				font-size: 55px;
			}
		}
	}
}