@media only screen and(max-width: 767px) {
	.footer {
		padding: 30px 15px;
		flex-wrap: wrap;

		&__title {
			width: 100%;
			margin-top: 30px;
		}

		&__info {
			margin-bottom: 30px;
		}
	}

	.partner-home {
		&__wrap {
			gap: 0;
		}

		&__image {
			width: 100%;
			padding-bottom: 50px;
			justify-content: center;
			gap: 20px;
		}

		&__login {
			min-height: auto;
			background: none;
		}

		&__content {
			width: 100%;
		}
	}

	.new-home {
		h2.title {
			&::after {
				width: 100%;
				margin-top: 15px;
			}
		}

		.img {
			margin-top: 50px;
		}

		&__inner {
			.slick-prev {
				left: 20px;
				width: 20px;
				height: 35px;
				background-size: cover;
			}

			.slick-next {
				right: 20px;
				width: 20px;
				height: 35px;
				background-size: cover;
			}
		}
	}

	.top-ten {
		&__wrap {
			h2.title {
				&::after {
					width: 100%;
					margin-top: 15px;
				}
			}
		}

		&__inner {
			width: 100%;
			padding-left: 20px;
			height: 350px;

			details {
				padding: 0;
			}

			summary {
				font-size: 16px;
			}
		}
	}

	.winner-home {
		padding-top: 20px;

		&__wrap {
			h2.title {
				font-size: 28px;

				&::after {
					margin-top: 15px;
					width: 100%;
				}
			}
		}

		&__inner {
			width: 100%;
			gap: 15px;
			grid-template-columns: repeat(1, 1fr);
		}

		&__title {
			width: 100%;

			.title {
				font-size: 20px;
			}
		}

		&__content {
			h3 {
				font-size: 18px;
			}

			h2 {
				font-size: 26px;
			}
		}
	}

	.judges-home {
		padding-top: 50px;
		padding-bottom: 0;

		&::before {
			display: none;
		}

		&__title {
			width: 100%;
		}

		&__content {
			h3 {
				font-size: 20px;
			}

			h2 {
				font-size: 26px;
			}
		}

		&__wrap {
			margin-bottom: 0px;

			h2.title {
				&::after {
					width: 100%;
					margin-top: 15px;
				}
			}
		}

		&__inner {
			width: 100%;
			gap: 20px;
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.moment-home {
		&__wrap {
			li {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		&__item {
			grid-area: inherit !important;

			&::after {
				padding-bottom: 100%;
			}
		}
	}

	.number-home {
		grid-template-columns: repeat(1, 1fr);
	}

	.header {
		padding: 20px 0;

		&.white-header {
			position: relative;

			.navbar-logo {
				display: block;

				&.white-logo {
					display: none;
				}
			}
		}

		&__inner {
			width: 100%;
			justify-content: space-between;
		}

		&__menu {
			margin: 0;

			.menu {
				display: none;
			}

			&.is-open {
				.menu {
					display: block;
					position: absolute;
					background-color: var(--color-black);
					z-index: 2;
					width: 300px;
					right: 0;
					padding: 15px;
					margin-top: 30px;
				}

				li {
					padding: 10px 0;
				}

				a {
					padding: 10px 0;
				}
			}

			.menu-toggle {
				display: block;
			}
		}

		&__btn {
			width: 100%;

			.signin {
				background: var(--color-main);
				color: var(--color-white);
			}
		}

		.header-email {
			display: none;

			a {
				color: var(--color-black);
				margin: 0;
			}

			svg {
				fill: var(--color-black);
			}
		}
	}

	.home-banner {
		&__content {
			h1 {
				font-size: 55px;
			}
		}
	}
}