.moment {
	display: flex;
	min-height: 870px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 105px;

	img {
		width: 100%;
		height: 430px;
		object-fit: cover;
	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: -webkit-inline-box;
		list-style: none;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		border: 0px solid #fefefe;
		padding: 15px;
		border-radius: 5px;
		margin: 50px;
		width: 20px;
		height: 20px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #808080;
		padding: 0 10px;
		margin: 0 10px;
		border-radius: 25px;
		width: 80%;
	}

	&__item {
		display: flex;
	}

	&__col1,
	&__col2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
		margin-right: 10px;
	}

	&__col1,
	&__col3 {
		width: 505px;
	}

	&__col2 {
		width: 870px;
	}

	&__col1 img:first-child,
	&__col2 img:last-child {
		grid-column: 1/3;
	}

	&__col3 img {
		height: 100%;
	}

}