.home-page {
	position: relative;
	background-image: url('images/bg_home.png');
	background-color: rgba(0, 0, 0, 0.96);
}

.moment {
	display: flex;
	min-height: 870px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 105px;
	background-color: var(--color-bg);

	img {
		width: 100%;
		height: 430px;
		object-fit: cover;
	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: -webkit-inline-box;
		list-style: none;
		margin-right: 10px;
		position: relative;

		&:last-child {
			margin-right: 0;
		}
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		border: 0px solid #fefefe;
		padding: 15px;
		border-radius: 5px;
		margin: 50px;
		width: 20px;
		height: 20px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #808080;
		padding: 0 10px;
		margin: 0 10px;
		border-radius: 25px;
		width: 80px;
	}

	&__item {
		display: flex;
	}

	&__col1,
	&__col2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
		margin-right: 10px;
	}

	&__col1,
	&__col3 {
		width: 505px;
	}

	&__col2 {
		width: 870px;
	}

	&__col1 img:first-child,
	&__col2 img:last-child {
		grid-column: 1/3;
	}

	&__col3 img {
		height: 100%;
	}

}

.moment-home {
	margin-bottom: 148px;
}

.moment-slider {
	position: relative;

	&__inner {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		//gap: 10px;
	}

	&__col1,
	&__col3 {
		width: 505px;
	}

	&__col2 {
		width: 870px;
	}

	&__col1 {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-right: 10px;

		.item_slider {
			img {
				width: 100%;
				object-fit: cover;
			}

			&:nth-child(1) {
				width: 100%;

				img {
					height: 505px;
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				width: calc(50% - 5px);

				img {
					height: 396px;
				}
			}
		}
	}

	&__col2 {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-right: 10px;

		.item_slider {
			img {
				width: 100%;
				object-fit: cover;
			}

			&:nth-child(1),
			&:nth-child(2) {
				width: calc(50% - 5px);

				img {
					height: 408px;
				}
			}

			&:nth-child(3) {
				width: 100%;

				img {
					height: 493px;
				}
			}
		}
	}

	&__col3 {
		.item_slider {
			height: 100%;
		}

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.slick-dots {
		bottom: -145px;
		max-width: fit-content;
		left: 0;
		right: 0;
		margin: auto;
		border: 1px solid #fff;
		border-radius: 15px;
		padding: 0px 20px 7px;

		li {
			width: 40px;
			height: 20px;
			background-color: var(--color-bg);
			border-radius: 25px;

			&.slick-active {
				background-color: #808080;
			}
		}
	}
}