.home-page {
	position: relative;
	background-color: rgba(0, 0, 0, 1);
}

.moment {
	display: flex;
	min-height: 870px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 105px;
	background-color: var(--color-bg);

	img {
		width: 100%;
		height: 430px;
		object-fit: cover;
	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: -webkit-inline-box;
		list-style: none;
		margin-right: 10px;
		position: relative;

		&:last-child {
			margin-right: 0;
		}
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		border: 0px solid #fefefe;
		padding: 15px;
		border-radius: 5px;
		margin: 50px;
		width: 20px;
		height: 20px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #808080;
		padding: 0 10px;
		margin: 0 10px;
		border-radius: 25px;
		width: 80px;
	}

	&__item {
		display: flex;
	}

	&__col1,
	&__col2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
		margin-right: 10px;
	}

	&__col1,
	&__col3 {
		width: 505px;
	}

	&__col2 {
		width: 870px;
	}

	&__col1 img:first-child,
	&__col2 img:last-child {
		grid-column: 1/3;
	}

	&__col3 img {
		height: 100%;
	}

}

.moment-home {
	margin-bottom: 148px;
	background-color: var(--color-bg);
	padding: 50px 0;

	h2.title {
		&:after {
			margin-top: 65px;
		}
	}
}

.moment-slider {
	position: relative;
	margin-top: 49px;

	.item_slider {
		img {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			transition: all .2s linear;

			&:hover {
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
			}
		}
	}

	&__inner {
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}

	&__col1,
	&__col3 {
		width: 505px;
	}

	&__col2 {
		width: 870px;
	}

	&__col1 {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-right: 10px;

		.item_slider {
			img {
				width: 100%;
				object-fit: cover;
			}

			&:nth-child(1) {
				width: 100%;

				img {
					height: 505px;
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				width: calc(50% - 5px);

				img {
					height: 396px;
				}
			}
		}
	}

	&__col2 {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-right: 10px;

		.item_slider {
			img {
				width: 100%;
				object-fit: cover;
			}

			&:nth-child(1),
			&:nth-child(2) {
				width: calc(50% - 5px);

				img {
					height: 408px;
				}
			}

			&:nth-child(3) {
				width: 100%;

				img {
					height: 493px;
				}
			}
		}
	}

	&__col3 {
		.item_slider {
			height: 100%;
		}

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.slick-dots {
		bottom: -145px;
		max-width: fit-content;
		left: 0;
		right: 0;
		margin: auto;
		border: 1px solid #fff;
		border-radius: 15px;
		padding: 0px 20px 7px;

		li {
			width: 40px;
			height: 20px;
			background-color: var(--color-bg);
			border-radius: 25px;

			&.slick-active {
				background-color: var(--color-main);
			}
		}
	}
}

@media(max-width: 1023px) {
	.moment-slider {
		&__col1 {
			width: 100%;
		}

		&__col2 {
			width: 100%;
			margin-top: 10px;
		}

		&__col3 {
			width: 100%;
			margin-top: 10px;
			height: 850px;

			.item_slider {
				height: 100%;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

.moment-homeMobi {
	position: relative;
	overflow-x: auto;
	display: none;
	margin: 0px 35px;
	padding: 50px 0;
	background: transparent;

	input[name="vol"] {
		position: sticky;
		bottom: 0;
		left: 0;
		-webkit-appearance: none;
		width: 100%;
		height: 25px;
		background: transparent;
		outline: none;
		border-radius: 50px;
		border: 1px solid #fff;
		-webkit-transition: .2s;
		transition: opacity .2s;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 31px;
			height: 15px;
			background: var(--color-main);
			border-radius: 50px;
			cursor: pointer;
		}



	}

	&_warp {

		height: 100%;
		width: max-content;
		margin-bottom: 50px;
		display: flex;

	}

	.moment-slider__item {
		width: 11%;

		img {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			transition: all .2s linear;

			&:hover {
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
			}
		}
	}

	.moment-sliders {
		display: flex;
	}

}

@media only screen and (max-width: 1366px) {
	.moment-slider {

		&__col1,
		&__col3 {
			width: 26%
		}

		&__col2 {
			width: 46%;
		}
	}
}

@media all and (max-width: 767px) {
	.moment-home {
		display: none;

		h2.title::after {
			width: 100%;
		}

		&__wrap {
			li {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		&__item {
			grid-area: inherit !important;

			&::after {
				padding-bottom: 100%;
			}
		}
	}

	.moment-homeMobi {
		display: block;
	}



}