.register-page {
	position: relative;
	background-color: var(--color-black);

	&__wrap {
		position: relative;
		--width: 100vw;
		margin-right: calc(51% - var(--width)/2);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__form {
		width: 50%;
		color: var(--color-white);
		padding: 30px 175px;

		h1 {
			font-size: 42px;
			color: var(--color-white);
			font-family: var(--font-Barlow);
			margin-bottom: 0;
		}

		.description {
			display: none;
		}

		form {
			font-family: var(--font-Barlow);
			font-weight: 500;

			h2 {
				display: none;
			}

			.rwmb-checkbox-wrapper {
				flex-direction: row;
				margin-top: 10px;

				.rwmb-label {
					width: calc(100% - 50px);
					order: 2;
				}

				.rwmb-input {
					order: 1;
					width: 50px;

					input {
						width: 35px;
						height: 35px;
					}
				}
			}

			.rwmb-button {
				width: 100%;
				background-color: var(--color-white);
				color: var(--color-black);
				font-size: 21px;
			}
		}
	}

	&__image {
		width: 50%;

		.image_item {
			position: relative;

			&::after {
				content: '';
				display: block;
				padding-bottom: 111%;
			}

			img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}

		.slick-dots {
			bottom: 20px;
			z-index: 2;

			li {
				width: 17px;
				height: 17px;
				background: rgba(255, 255, 255, 0.6);
				border-radius: 100%;

				&.slick-active {
					background: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}

.page-template-register {
	.footer {
		display: none;
	}
}