.p-container {
	width: 56%;
	margin: 0 auto;
}

.post {
	font-size: 21px;
	line-height: 1.3;

	&__banner {
		height: 620px;
		position: relative;
		margin-bottom: 30px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(1);
		}
	}

	&__inner {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}

	&__top {
		padding: 45px 50px 0 45px;
		background: var(--color-white);
	}

	&__detail {
		display: flex;

		align-items: flex-start;
	}

	&__social {
		margin-top: 10px;
		width: 6%;

		a img {
			margin-bottom: 10px;
			width: 30px;
			height: 30px;
			max-width: fit-content;
			filter: grayscale(0);
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		width: 100%;

		&-title {
			font-size: 38px;
			font-weight: 700;
			line-height: 1.3;
			flex: 1;
		}

		&-view {
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			margin-top: 17px;
			column-gap: 30px;
		}

		&-view-eye,
		&-view-share {
			display: flex;
			align-items: center;
			font-size: 16px;
			line-height: 1.4;

			img {
				margin-right: 10px;
				width: auto;
			}
		}

		&-view-share {
			span {
				margin-bottom: 7px;
			}
		}
	}

	&__info {
		display: flex;
		align-items: flex-end;
		padding: 33px 0 0;

		&-time {
			margin-left: 25px;
			font-size: 17px;
			line-height: 1.35;
		}
	}

	&__wrap {
		padding: 0 50px 115px 45px;
		background: var(--color-white);

		strong {
			font-weight: 600;
		}
	}

	&__content {
		width: 94%;
		margin-left: auto;
		text-align: justify;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 65px;
		font-weight: 600;

		&-back,
		&-next {
			display: flex;
			align-items: center;

			a {
				position: relative;
			}

			a::after {
				content: '';
				display: block;
				width: 15px;
				height: 20px;
				background-repeat: no-repeat;
				position: absolute;
				top: 6px;
			}
		}

		&-back {
			transform: translateX(30px);

			a::after {
				background-image: url('images/back_post.png');
				left: -30px;
			}
		}

		&-next {
			transform: translateX(-15px);
			display: flex;
			justify-content: center;
			position: relative;

			a::before {
				content: '';
				display: none;
				width: 15px;
				height: 20px;
				background: var(--color-white);
				position: absolute;
				right: -15px;
				bottom: 0;
			}

			a::after {
				background-image: url('images/next_post.png');
				right: -30px;
			}

			&-bg {
				width: 15px;
				height: 20px;
				background: var(--color-white);
				position: absolute;
				right: -3px;
			}
		}
	}
}

@media (max-width: 1440px) {
	.post {
		font-size: 19px;

		&__head-title {
			font-size: 36px;
		}

		&__nav-next {
			transform: translateX(40px);
		}
	}
}

@media(max-width: 1280px) {
	.post__nav-next {
		transform: translateX(-15px);
		padding-top: 15px;
	}
}

@media (max-width: 1024px) {
	.p-container {
		width: 90%;
	}

	.post {
		&__content {
			width: 100%;
		}

		&__nav-back,
		&__nav-next {
			transform: translateX(0);
		}
	}
}

@media(max-width: 767px) {
	.p-container {
		width: 100%;
	}

	.post {
		padding: 0;
		padding-bottom: 50px;

		&__banner {
			height: 340px;
			margin-bottom: 0;
		}

		&__inner {
			position: relative;
			margin-top: -100px;
			padding-left: 25px;
			padding-right: 25px;
			margin-bottom: 0;
		}

		&__detail {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		&__wrap {
			padding: 0 35px;
		}

		&__top {
			padding: 15px;
		}

		&__social {
			width: 100%;
		}

		&__head {
			flex-direction: column;

			&-title {
				width: 100%;
				font-size: 36px;
				order: 3;
				grid-column: 1/3;
			}

			&-view {
				width: 100%;
			}
		}

		&__info {
			padding-top: 20px;

			&-author {
				font-size: 19px;
			}
		}

		&__nav {
			margin-bottom: 80px;
		}

		&__nav-back {
			transform: translateX(15px);
		}
	}
}