@font-face {
	font-family: "Opensans";
	font-weight: 400;
	src: url("./fonts/Opensans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Opensans";
	font-weight: 700;
	src: url("./fonts/Opensans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow";
	font-weight: 300;
	src: url("./fonts/Barlow-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow";
	font-weight: 400;
	src: url("./fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow";
	font-weight: 500;
	src: url("./fonts/Barlow-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow";
	font-weight: 700;
	src: url("./fonts/Barlow-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "SimplonNorm";
	font-weight: 300;
	src: url("./fonts/SimplonNorm-Light.otf") format("opentype");
}

@font-face {
	font-family: "SimplonNorm";
	font-weight: 500;
	src: url("./fonts/SimplonNorm-Medium.otf") format("opentype");
}

@font-face {
	font-family: "SimplonNorm";
	font-weight: 400;
	src: url("./fonts/SimplonNorm-Regular.otf") format("opentype");
}