.home-banner {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		margin: 0 auto;

		@media (max-width:767px) {
			margin-top: 130px;
		}

		&::before {
			content: '';
			display: block;
			width: 243px;
			height: 211px;
			background-image: url('../images/bg_banner.png');
			background-size: cover;
		}
	}

	&__content {
		display: none;

		h1 {
			color: var(--color-white);
			text-shadow: 1px 1px 8px #fff;
			text-transform: uppercase;
			font-size: 80px;
			line-height: 1.1;
			margin: 0;
			font-weight: 500;
		}

		.entry-content {
			font-family: var(--font-Opensans);
			background-color: var(--color-main);
			color: var(--color-white);
			font-size: 24px;
			font-weight: 700;
			padding: 15px 35px 15px 25px;
			line-height: 1.2;
			margin-top: 36px;
		}
	}
}

@media (max-width: 991px) {
	.home-banner {
		margin-top: -125px;

		&__wrap::before {
			position: absolute;
			top: 20px;
			right: 0;
		}
	}
}

@media(max-width: 767px) {
	.home-banner {
		min-height: 890px;
		align-items: flex-start;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: 58% 0%;
		background-size: 600% 160% !important;
	}

	.home-banner__wrap::before {
		bottom: -253%;
		top: auto;
		right: -57%;
	}

	.home-banner {
		&__content {
			display: block;

			h1 {
				font-size: 55px;

				br:last-child {
					display: none;
				}
			}

			.entry-content {
				background: transparent;
				padding: 0;
				font-size: 18px;
				list-style: 22px;
				margin-top: 15px;

				p {
					margin: 0;
				}
			}
		}
	}
}