.winner-home {
	padding: 125px 0 135px;
}

.judges-home {
	padding: 190px 0 59px;
}

.judges-home,
.winner-home {
	position: relative;
	background: var(--color-bg);

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 254px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__inner {
		width: 62%;
		position: relative;
		display: grid;
		gap: 31px 80px;
		grid-template-columns: repeat(2, 1fr);
	}

	&__image {
		img {
			width: 100%;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			transition: all .2s linear;

			&:hover {
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
			}
		}
	}

	&__title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		.number {
			font-family: var(--font-SimplonNorm);
			font-weight: 600;
			color: var(--color-main);
			text-transform: uppercase;
			font-size: 48px;
			line-height: 0.8;
		}

		.title {
			font-family: var(--font-Barlow);
			text-transform: uppercase;
			text-align: end;
			color: var(--color-main);
			font-size: 21px;
			font-weight: 400;
		}
	}

	&__content {
		margin-top: 18px;

		h3 {
			font-family: var(--font-Barlow);
			font-size: 28px;
			color: var(--color-main);
			margin: 0 0 1px;
			font-weight: 400;
			text-transform: uppercase;
		}

		h2 {
			font-family: var(--font-Barlow);
			font-size: 27px;
			color: var(--color-white);
			font-weight: 500;
			margin: 0;
			text-transform: uppercase;
		}
	}
}

.winner-home {
	&::before {
		content: '';
		display: block;
		width: 284px;
		height: 659px;
		background-image: url('../images/bg_winner.png');
		position: absolute;
		bottom: 15%;
		left: 0;
	}

	.entry-title {
		display: flex;
		flex-direction: column;
	}

	&__title {
		min-height: 70px;
	}

	&__item {
		margin-bottom: 119px;

		.icon {
			height: 26px;
			background-image: url('../images/icon_top.png');
			background-repeat: repeat-x;
		}

		&:nth-child(1) {
			.icon {
				width: 120px;
			}
		}

		&:nth-child(2) {
			.icon {
				width: 90px;
			}
		}

		&:nth-child(3) {
			.icon {
				width: 62px;
			}
		}

		&:nth-child(4) {
			.icon {
				width: 30px;
			}
		}

		&:last-child {
			.number {
				display: none;
			}
		}

	}
}

.judges-home {
	&::before {
		content: '';
		display: block;
		width: 508px;
		height: 414px;
		background-image: url('../images/bg_judges.png');
		background-size: cover;
		position: absolute;
		top: 35px;
		left: 45px;
	}

	&::after {
		content: '';
		display: block;
		width: 109px;
		height: 186px;
		background-image: url('../images/after_judes.png');
		background-size: cover;
		position: absolute;
		right: 56px;
		bottom: 0;
	}

	&__item {
		margin-bottom: 79px;
	}

	&__judges {
		width: calc(100% - 62% - 71px);
		color: var(--color-white);
		font-weight: 300;
		text-align: justify;
		display: flex;
		align-items: end;
		font-size: 21px;
	}

	&__video {
		width: 62%;

		iframe {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1023px) {
	.judges-home {
		padding-top: 100px;

		&__inner {
			width: 100%;
		}
	}

	.winner-home {
		padding-bottom: 50px;

		&__inner {
			width: 100%;
		}
	}
}

@media (max-width: 767px) {
	.winner-home {
		padding-top: 20px;

		&__wrap {
			h2.title {
				font-size: 28px;

				&::after {
					margin-top: 15px;
				}
			}
		}

		&__inner {
			width: 100%;
			gap: 15px;
			grid-template-columns: repeat(1, 1fr);
		}

		&__title {
			width: 100%;

			.title {
				font-size: 20px;
			}
		}

		&__content {
			h3 {
				font-size: 18px;
			}

			h2 {
				font-size: 26px;
			}
		}
	}

	.judges-home {
		padding-top: 50px;
		padding-bottom: 0;

		&::before {
			display: none;
		}

		&__judges {
			width: 100%;
		}

		&__video {
			width: 100%;
		}

		&__title {
			width: 100%;
		}

		&__content {
			h3 {
				font-size: 20px;
			}

			h2 {
				font-size: 26px;
			}
		}

		&__wrap {
			margin-bottom: 0px;

			h2.title {
				&::after {
					margin-top: 15px;
				}
			}
		}

		&__inner {
			width: 100%;
			gap: 20px;
			grid-template-columns: repeat(1, 1fr);
		}
	}
}