.winner-home {
	padding: 125px 0 135px;
}

.judges-home {
	padding: 190px 0 59px;
}

.judges-home,
.winner-home {
	position: relative;
	background: var(--color-bg);

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 254px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__inner {
		width: 62%;
		position: relative;
		display: grid;
		gap: 31px 80px;
		grid-template-columns: repeat(2, 1fr);
	}

	&__image {
		img {
			width: 100%;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			transition: all .2s linear;

			&:hover {
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
			}
		}
	}

	&__title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		.number {
			font-family: var(--font-SimplonNorm);
			font-weight: 600;
			color: var(--color-main);
			text-transform: uppercase;
			font-size: 48px;
			line-height: 0.8;
		}

		.title {
			font-family: var(--font-Barlow);
			text-transform: uppercase;
			text-align: end;
			color: var(--color-main);
			font-size: 21px;
			font-weight: 400;
		}
	}

	&__content {
		margin-top: 18px;

		h3 {
			font-family: var(--font-Barlow);
			font-size: 28px;
			color: var(--color-main);
			margin: 0 0 1px;
			font-weight: 400;
		}

		h2 {
			font-family: var(--font-Barlow);
			font-size: 27px;
			color: var(--color-white);
			font-weight: 500;
			margin: 0;
			text-transform: uppercase;
		}
	}
}

.winner-home {
	&::before {
		content: '';
		display: block;
		width: 284px;
		height: 659px;
		background-image: url('../images/bg_winner.png');
		position: absolute;
		bottom: 15%;
		left: 0;
	}

	.entry-title {
		display: flex;
		flex-direction: column;
	}

	&__title {
		min-height: 70px;
	}

	&__item {
		margin-bottom: 119px;

		.icon {
			height: 26px;
			background-image: url('../images/icon_top.png');
			background-repeat: repeat-x;
		}

		&:nth-child(1) {
			.icon {
				width: 120px;
			}
		}

		&:nth-child(2) {
			.icon {
				width: 90px;
			}
		}

		&:nth-child(3) {
			.icon {
				width: 62px;
			}
		}

		&:nth-child(4) {
			.icon {
				width: 30px;
			}
		}

		&:last-child {
			.number {
				display: none;
			}
		}

	}
}

.judges-home {
	&::before {
		content: '';
		display: block;
		width: 508px;
		height: 414px;
		background-image: url('../images/bg_judges.png');
		background-size: cover;
		position: absolute;
		top: 35px;
		left: 45px;
	}

	&::after {
		content: '';
		display: block;
		width: 109px;
		height: 186px;
		background-image: url('../images/after_judes.png');
		background-size: cover;
		position: absolute;
		right: 56px;
		bottom: 0;
	}

	&__item {
		margin-bottom: 79px;
	}

	&__judges {
		width: calc(100% - 62% - 71px);
		color: var(--color-white);
		font-weight: 300;
		text-align: justify;
		display: flex;
		align-items: end;
		font-size: 21px;
	}

	&__video {
		width: 62%;

		iframe {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1023px) {
	.judges-home {
		padding-top: 100px;

		&__inner {
			width: 100%;
		}
	}

	.winner-home {
		padding-bottom: 50px;

		&__inner {
			width: 100%;
		}
	}
}

@media (max-width: 767px) {
	.winner-home {
		padding-top: 20px;
		overflow: hidden;

		&::before {
			width: 100px;
			height: 131px;
			left: auto;
			right: -7%;
			bottom: -0%;
			background-size: 100% 100%;
			background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 129.58 169.45'><defs><style>.cls-1 {fill: url(%23linear-gradient);}.cls-2 {	fill: url(%23linear-gradient-2);}.cls-3 {fill: url(%23linear-gradient-3);}</style><linearGradient id='linear-gradient' x1='-3392.69' y1='13385.3' x2='-3263.91' y2='13385.3' gradientTransform='translate(13449.69 3392.69) rotate(90)' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='%23ed2224' stop-opacity='0' /><stop offset='1' stop-color='%23ed1c24' /></linearGradient><linearGradient id='linear-gradient-2' x1='-3373.56' y1='13385.12' x2='-3244.77' y2='13385.12' xlink:href='%23linear-gradient' /><linearGradient id='linear-gradient-3' x1='-3352.03' y1='13384.5' x2='-3223.24' y2='13384.5' xlink:href='%23linear-gradient' /></defs><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><circle class='cls-1' cx='64.39' cy='64.39' r='64.39' /><circle class='cls-2' cx='64.57' cy='83.53' r='64.39' /><circle class='cls-3' cx='65.19' cy='105.06' r='64.39' /></g></g></svg>") no-repeat;

		}

		&__wrap {
			padding: 0 30px;

			h2.title {
				font-size: 40px;
				padding: 35px;
				margin: 50px 0 100px;

				&::after {
					left: 5%;
					top: 10%;
					width: 43PX;
					height: 43px;
				}
			}
		}

		.entry-title {
			align-items: flex-end;
		}

		&__inner {
			width: 100%;
			gap: 15px;
			grid-template-columns: repeat(1, 1fr);
		}

		&__item {
			margin-bottom: 90px;
		}

		&__title {
			width: 100%;
			align-items: flex-end;
			margin-bottom: 44px;

			.title {
				font-size: 20px;
			}
		}

		&__content {
			h3 {
				font-size: 18px;
			}

			h2 {
				font-size: 26px;
			}
		}
	}

	.judges-home {
		padding-top: 50px;
		padding-bottom: 0;
		overflow: hidden;

		&::before {
			display: none;
		}

		&::after {
			right: -14%;
			bottom: -40px;
		}

		&__judges {
			width: 100%;
			padding: 53px 25px;
			font-weight: 300;
		}

		&__video {
			width: 100%;
			height: 240px;

			iframe {
				width: 100%;
				height: 100%;
			}
		}

		&__title {
			width: 100%;
		}

		&__content {
			h3 {
				font-size: 20px;
			}

			h2 {
				font-size: 26px;
			}
		}

		&__wrap {
			margin-bottom: 0px;

			&:first-child {
				flex-direction: column-reverse;
			}

			&:last-child {
				padding: 25px;
			}

			h2.title {

				font-size: 45px;
				padding: 0 35px;
				margin: 90px 0;

				&::after {
					left: 5px;
				}

				&::before {
					position: absolute;
					width: 129px;
					height: 129px;
					content: '';
					top: -75%;
					right: -8%;
					background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 129.58 169.45'><defs><style>.cls-1 {fill: url(%23linear-gradient);}.cls-2 {	fill: url(%23linear-gradient-2);}.cls-3 {fill: url(%23linear-gradient-3);}</style><linearGradient id='linear-gradient' x1='-3392.69' y1='13385.3' x2='-3263.91' y2='13385.3' gradientTransform='translate(13449.69 3392.69) rotate(90)' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='%23ed2224' stop-opacity='0' /><stop offset='1' stop-color='%23ed1c24' /></linearGradient><linearGradient id='linear-gradient-2' x1='-3373.56' y1='13385.12' x2='-3244.77' y2='13385.12' xlink:href='%23linear-gradient' /><linearGradient id='linear-gradient-3' x1='-3352.03' y1='13384.5' x2='-3223.24' y2='13384.5' xlink:href='%23linear-gradient' /></defs><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><circle class='cls-1' cx='64.39' cy='64.39' r='64.39' /><circle class='cls-2' cx='64.57' cy='83.53' r='64.39' /><circle class='cls-3' cx='65.19' cy='105.06' r='64.39' /></g></g></svg>") no-repeat;
				}

			}
		}

		&__item {
			margin-bottom: 50px;
		}

		&__inner {
			width: 100%;
			gap: 20px;
			grid-template-columns: repeat(1, 1fr);
		}
	}
}