.new-home {
	position: relative;
	background-color: var(--color-bg);
	padding: 50px 0;


	&__wrap {
		margin-top: 100px;
		--width: 100vw;
		margin-right: calc(51% - var(--width)/2);
		margin-left: calc(50% - var(--width)/2);
	}

	&__item {
		position: relative;

		&:hover {
			.new-home__title {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	&__image {
		position: relative;

		&::after {
			content: '';
			display: block;
			padding-bottom: 120%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__inner {

		.slick-next,
		.slick-prev {
			width: 48px;
			height: 82px;
			background-image: url('images/prev.png');
			background-color: transparent;
			background-size: cover;
			z-index: 2;
		}

		.slick-prev {
			background-image: url('../images/prev.png');
			left: 170px;
		}

		.slick-next {
			background-image: url('../images/next.png');
			right: 170px;

			@media(max-width: 1023px) {
				right: 20px;
			}
		}
	}

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 55px 65px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		opacity: 0;
		transition: all 0.35s ease;
		transform: translateY(100%);

		&::before {
			content: '';
			display: block;
			background-color: rgba(0, 0, 0, 0.9);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		p.date {
			font-family: var(--font-SimplonNorm);
			font-weight: 700;
			color: var(--color-main);
			margin: 0;
			font-size: 40px;
			position: relative;
		}

		h3 {
			font-family: var(--font-Barlow);
			font-size: 22px;
			color: var(--color-white);
			font-weight: 300;
			display: flex;
			flex-wrap: wrap;
			align-items: end;
			justify-content: space-between;
			margin: 78px 0 0;
			position: relative;

			&::after {
				content: '';
				display: block;
				width: 55px;
				height: 68px;
				background-image: url('../images/after_title.png');
				background-repeat: no-repeat;
				background-size: cover;
			}

			a {
				width: calc(100% - 70px);
				border-bottom: 1px solid var(--color-white);
				padding-bottom: 37px;
			}
		}

		a {
			color: var(--color-white);

			&:hover {
				color: var(--color-main);
			}
		}
	}

	.img {
		margin-top: 82px;
	}
}

@media (max-width: 1023px) {
	.new-home {
		h2.title {
			padding: 0 30px;
			font-size: 40px;
			padding: 0 40px;

			&::after {
				left: 6%;
				top: -50%;
				width: 43PX;
				height: 43px;
			}
		}

		&__inner {
			.slick-prev {
				left: 20px;
				width: 30px;
				height: 50px;
			}

			.slick-next {
				right: 20px;
				width: 30px;
				height: 50px;
			}
		}

		&__title {
			padding: 15px;
			opacity: .85;
			transform: translateY(0);
			p.date {
				font-size: 34px;
			}

			h3 {
				font-size: 18px;

				a {
					padding-bottom: 15px;
				}

				&::after {
					width: 43px;
					height: 53px;
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.new-home {
		h2.title {
			&::after {
				margin-top: 15px;
			}
		}

		.img {
			margin-top: 50px;
		}

		&__inner {

			.slick-prev,
			.slick-next {
				width: 20px;
				height: 35px;
			}

			.slick-dots li {
				margin: 0 !important;
			}

			.slick-dots li button:before {
				font-size: 30px !important;
			}

			.slick-dots li.slick-active button:before {
				opacity: .75;
				color: var(--color-main);
			}
		}
	}
}