.number-home {
	position: relative;
	display: flex;

	&__item {
		width: 666px;
		position: relative;
		background-color: var(--color-main);
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 45px 0 65px;

		h2 {
			margin: 0;
			font-size: 104px;
			color: var(--color-white);
			line-height: 1.2;
			font-family: var(--font-SimplonNorm);
			font-weight: 500;

			.unit {
				font-size: 22px;
			}
		}

		p {
			font-size: 21px;
			color: var(--color-white);
			margin: 0;
			font-weight: 600;
		}

		&:nth-child(2) {
			background-color: #CACACA;
			width: 585px;

			h2 {
				color: var(--color-black);
			}

			p {
				color: var(--color-black);
			}
		}

		&:nth-child(3) {
			background-color: #000;

			h2 {
				color: var(--color-main);

			}

			.number-home__title {
				display: flex;
				flex-wrap: wrap;
			}

			.unit {
				color: #787878;
				font-weight: 700;
				font-size: 22px;
				display: flex;
				align-items: flex-end;
				margin-bottom: 20px;
				margin-right: 15px;
			}

			p {
				color: #787878;
			}
		}


	}
}

@media (max-width: 1023px) {
	.number-home {
		h2 {
			font-size: 70px;
		}

		p {
			font-size: 15px;
				margin-top: -5px;
		}
	}
}

@media(max-width: 767px) {
	.number-home {
		flex-wrap: wrap;
		margin-top: -100px;
		&__item {
			width: 100%;
			padding: 45px ;
			&:nth-child(2) {
					background-color: #fff;
				padding: 57px ;
				p{
					font-size:17px;
					font-weight: bold;
				}
				}
			&:nth-child(3) {
					background-color: #191919;
					.unit, p {color: #fff;
					font-size: 15px;
				font-weight: 400;}
			}
		}
	}
}