.partner-home {
	position: relative;
	background-color: var(--color-bg);
	padding: 50px 0;

	&__image {
		width: calc(100% - 520px);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 150px;

		img {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			width: auto;

			&:hover {
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
			}
		}
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 126px;

		&:nth-child(2) {
			padding-top: 80px;

			.partner-home__image {
				border-bottom: 0;
			}
		}
	}

	&__login {
		position: relative;
		background-image: url('../images/bg_login.png');
		background-size: cover;
		min-height: 568px;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		margin: 0 auto;
		transform: translateX(-75px);
	}

	&__content {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 50px;

		h3 {
			font-size: var(--font-Opensans);
			font-size: 22px;
			color: var(--color-white);
			text-transform: uppercase;
			margin: 0 0 7px;
		}

		h2 {
			font-family: var(--font-Opensans);
			font-size: 54px;
			color: var(--color-white);
			margin: 0 0 45px;
			text-transform: uppercase;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;

			li {
				list-style: none;
				background-color: var(--color-white);
				padding: 5px 10px;
				border-radius: 25px;
				min-width: 132px;
				color: var(--color-main);
				text-align: center;
				font-size: 19px;
				font-weight: 700;
				border: 1px solid var(--color-white);
				transition: all .3s linear;

				&:hover {
					background-color: transparent;
					border: 1px solid var(--color-white);

					a {
						color: var(--color-white);
					}
				}

				&:first-child {
					background-color: transparent;
					margin-right: 28px;

					a {
						color: var(--color-white);
					}

					&:hover {
						background-color: var(--color-white);

						a {
							color: var(--color-main);
						}
					}

				}
			}

			a {
				color: var(--color-main);
			}
		}
	}
}

@media (max-width: 1440px) {
	.partner-home {
		padding-bottom: 0;

		&__image {
			width: calc(100% - 450px);
		}

		&__login {
			width: 100%;
			transform: translateX(0px);
			background-size: contain;
		}

		&__content {
			padding-bottom: 130px;
		}
	}
}

@media(max-width: 1023px) {
	.partner-home {
		&__wrap {
			gap: 10px;
		}

		&__image {
			width: 100%;

		}

		&__login {
			background: none;
			min-height: auto;
		}

		&__content {
			width: 100%;
			margin-bottom: 0;
			padding: 50px 15px;
			background-color: var(--color-main);
		}
	}
}

@media(max-width: 767px) {
	.partner-home {
		padding-bottom: 115px;

		h2.title {
			padding: 0 30px;
			font-size: 40px;
			padding: 0 40px;
			margin-bottom: 100px;

			&::after {
				left: 5%;
				top: -5%;
				width: 43PX;
				height: 43px;
			}
		}

		&__wrap {
			gap: 0;
		}

		&__image {
			width: 100%;
			padding-bottom: 50px;
			justify-content: center;
			gap: 20px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		&__content {
			h2 {
				margin-bottom: 20px;
			}

			ul {
				width: 70%;
				justify-content: flex-start;
				row-gap: 15px;
			}

		}

		&__login {
			overflow: hidden;

			&::after {
				content: "";
				display: block;
				width: 170px;
				height: 235px;
				background: url('../images/mc2.png') no-repeat;
				position: absolute;
				// background-size: 190% 122%;
				//mix-blend-mode: hard-light;
				bottom: 0;
				right: 0;
			}

			&::before {
				content: "";
				display: block;
				width: 50%;
				height: 50%;
				background: url('../images/bg_banner.png') no-repeat;
				position: absolute;
				background-size: contain;
				//mix-blend-mode: hard-light;
				bottom: -10%;
				right: -21%;
			}
		}
	}
}