.top-ten {
	position: relative;
	background-color: var(--color-bg);
	padding: 50px 0 250px;

	&::after {
		content: '';
		display: block;
		width: 253px;
		height: 331px;
		background-image: url('../images/bg_top_ten.png');
		background-size: cover;
		position: absolute;
		right: 56px;
		bottom: 0;
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__inner {
		width: 60%;
		height: 828px;
		direction: rtl;
		padding-left: 50px;
		overflow-y: scroll;

		//overflow: auto;
		&::-webkit-scrollbar {
			background-color: transparent;
			border: 1px solid #fefefe;
			padding: 15px;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--color-main);
			padding: 0 10px;
			margin: 0 10px;
			border-radius: 25px;
			width: 80%;
		}

		details {
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid var(--color-white);
			border-radius: 0;
			padding: 30px 0;
			margin: 0;
			line-height: 1.6;
		}

		details[open] summary::before {
			content: '-';
		}

		summary {
			font-family: var(--font-Barlow);
			font-weight: 500;
			font-size: 28px;
			text-transform: uppercase;
			color: var(--color-white);
			text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
			display: flex;
			justify-content: space-between;

			&::before {
				content: '+';
				display: block;
			}
		}

		.panel {
			position: relative;

			iframe {
				width: 100%;

			}
		}
	}
}

@media(max-width: 1023px) {
	.top-ten {
		&__inner {
			width: 100%;
		}
	}
}

@media(max-width: 767px) {
	.new-home{
		position: relative;
		&>img{
			display: none;
		}
		&::after{
			content: '';
			display: block;
			width: 100%;
			position: relative;
			height: 100px;
			background: url('../images/img_news.png');
				background-size: cover;
				margin-top: 15px;
		}
	}
	.top-ten {
		padding-bottom: 50px;

		&::after {
			display: none;
		}

		&__wrap {
			padding: 0 25px;

			h2.title {
				padding: 0 30px;
				font-size: 40px;
				padding: 35px;
				margin: -130px 0 0px;

				br {
					display: none;
				}

				&::after {
					left: 5%;
					top: 15%;
					width: 43PX;
					height: 43px;

				}
			}
		}

		&__inner {
			width: 100%;
			padding-left: 20px;
			height: 803px;

			&::-webkit-scrollbar {
				background-color: transparent;
				border: 1px solid #fefefe;
				padding: 10px;
				width: 15px;
				border-radius: 50px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--color-main);
				border-radius: 50px;

			}

			details {
				padding: 0;

			}

			summary {
				padding: 44px 0;
				text-align: start;
			}
		}
	}
}